{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <label class="sr-only" for="username">{{ 'security.login.username'|trans }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" required="required" autocomplete="username" />

    <label class="sr-only" for="password">{{ 'security.login.password'|trans }}</label>
    <input type="password" id="password" name="_password" class="form-control" required="required" autocomplete="current-password" />

    <div class="checkbox mb-3">
        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
    </div>

    <input class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
</form>